<p>
  <label>Usuário administrador</label>
  <select name="settings[admin_user_id]">
    <%= options_for_select(User.all.order('firstname','lastname').collect {|u| [ u.to_s, u.id ] }, settings['admin_user_id'] ) %>
  </select>
</p>
<p>
  <label>Situação de tarefa indefinda.</label>
  <select name="settings[issue_status_undefined_id]">
    <%= options_for_select([['-','']] + IssueStatus.all.collect {|p| [ p.name, p.id ] }, settings['issue_status_undefined_id'] ) %>
  </select>
</p>
<p>
  <label>Situação de tarefa bloqueada.</label>
  <select name="settings[issue_status_blocked_id]">
    <%= options_for_select([['-','']] + IssueStatus.all.collect {|p| [ p.name, p.id ] }, settings['issue_status_blocked_id'] ) %>
  </select>
</p>
<p>
  <label>Situação de tarefa desbloqueada.</label>
  <select name="settings[issue_status_unblocked_id]">
    <%= options_for_select([['-','']] + IssueStatus.all.collect {|p| [ p.name, p.id ] }, settings['issue_status_unblocked_id'] ) %>
  </select>
</p>
<p>
  <label>Título da seção de dependências.</label>
  <%= text_field_tag 'settings[dependencies_section_title]',
    settings['dependencies_section_title'] %>
</p>
<p>
  <label>Mensagem para seção de dependências não encontrada.</label>
  <%= text_area_tag 'settings[no_dependencies_section_message]',
    settings['no_dependencies_section_message'] %>
</p>
<p>
  <label>Mensagem para dependências ausentes na seção de dependências.</label>
  <%= text_area_tag 'settings[dependencies_section_missing_dependencies_message]',
    settings['dependencies_section_missing_dependencies_message'] %>
</p>
